<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="maimeng.yodian.app.client.android" >
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".YApplication"
        android:theme="@style/AppTheme" >
        <!--<activity-alias-->
            <!--android:name=".LauncherActivity"-->
            <!--android:targetActivity="${LAUNCHER_ACTIVITY}">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity-alias>-->
        <activity
            android:name=".view.MainTabActivity" android:launchMode="singleTask"
            android:label="@string/app_name" >

        </activity>
        <activity android:name=".view.auth.AuthActivity"/>
        <activity android:name=".view.skill.CreateOrEditSkillActivity" android:theme="@style/AppThemeTransparent" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".view.skill.SkillTemplateActivity" android:theme="@style/AppThemeTransparent"/>
        <activity android:name=".view.user.SettingUserInfo"/>
        <activity android:name=".view.FeedBackActivity" android:label="@string/lable_feedback"/>
        <activity android:name=".view.SettingsActivity" android:theme="@style/AppThemeSettings"/>

        <activity android:name=".view.auth.AuthSeletorActivity" android:theme="@style/AppThemeWhite">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.auth.AuthSettingInfoActivity"/>
        <activity
            android:name=".view.WebLauncher"
            android:exported="true"
            android:label="@string/title_activity_web_launcher" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="yodian" android:host="www.ketie.me" android:path="/launcher/yodian"/>
            </intent-filter>
        </activity>
        <activity android:name="me.iwf.photopicker.PhotoPickerActivity"/>
        <!--umeng push start-->
        <activity
            android:name="com.umeng.fb.ConversationActivity"/>
        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:process=":push"
            android:exported="false" >
        </receiver>
        <receiver
            android:name="com.umeng.message.SystemReceiver"
            android:process=":push" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.MessageReceiver"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.ElectionReceiver"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_RESULT_V4" />
                <category android:name="umeng" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.RegistrationReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="maimeng.yodian.app.client.android.intent.action.COMMAND" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.UmengMessageBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.umeng.message.UmengService"
            android:label="PushService"
            android:exported="true"
            android:process=":push" >
            <intent-filter>
                <action android:name="maimeng.yodian.app.client.android.intent.action.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="maimeng.yodian.app.client.android.intent.action.COCKROACH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING_V4" />
                <category android:name="umeng" />
            </intent-filter>
        </service>
        <service android:name="com.umeng.message.UmengIntentService"
            android:process=":push" />
        <service
            android:name="com.umeng.message.UmengMessageIntentReceiverService"
            android:process=":push"
            android:exported="true" >
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.android.agoo.client.ElectionReceiverService" />
            </intent-filter>
        </service>
        <!-- V1.3.0添加的service，负责下载通知的资源 -->
        <service android:name="com.umeng.message.UmengDownloadResourceService" />
        <service android:name=".service.UmengPushMessageService"/>
        <!--umeng push end-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:screenOrientation="nosensor"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent1104669989" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true" />
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:screenOrientation="nosensor"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <!---->
        <meta-data android:value="55a3c89567e58e19e2003146" android:name="UMENG_APPKEY"/>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="96b2203b2eb5a412f4173a170de0afc9" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <meta-data
            android:name="CHANNEL_ID"
            android:value="${CHANNEL_ID}" />
    </application>

</manifest>
