<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="maimeng.yodian.app.client.android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Required -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".YApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <service android:name=".chat.AsyncContactService" />

        <activity
            android:name=".view.dialog.ChangeAccountActivity"
            android:label=""
            android:theme="@style/account_change_dialog">

        </activity>
        <activity
            android:name=".view.dialog.VouchDealActivity"
            android:label=""
            android:theme="@style/paylistactivity">

        </activity>
        <activity
            android:name=".view.splash.DefaultActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/AppThemeWhite" />
        <activity
            android:name=".view.splash.BaiduActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".view.splash._360Activity"
            android:screenOrientation="nosensor" />

        <activity-alias
            android:name=".SplashActivity"
            android:targetActivity=".view.splash.${LAUNCHER_ACTIVITY}" />

        <activity
            android:name=".view.MainTab2Activity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/PageIndicator">

        </activity>
        <activity
            android:name=".view.user.LauncherGuideActivity"
            android:theme="@style/AppThemeWhite" />
        <activity android:name=".chat.activity.ChatActivity" />
        <activity android:name=".view.dialog.ContactDialog" />
        <activity android:name=".view.auth.AuthActivity" />
        <activity android:name=".view.WebViewActivity" />
        <activity
            android:name=".view.user.UserHomeActivity"
            android:theme="@style/PageIndicator" />
        <activity
            android:name=".view.skill.CreateOrEditSkillActivity"
            android:theme="@style/AppThemeTransparent"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.skill.SkillTemplateActivity"
            android:theme="@style/AppThemeTransparent" />
        <activity
            android:name=".view.user.SettingUserInfo"
            android:label="@string/title_settings_user_info"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".view.skill.SkillPreviewActivity"
            android:theme="@style/AppThemeTransparent"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity android:name=".view.skill.RmarkPublishActivity">

        </activity>
        <activity
            android:name=".view.user.TransActivity"
            android:label=""
            android:theme="@style/activity_trans" />
        <activity
            android:name=".view.FeedBackActivity"
            android:label="@string/lable_feedback" />
        <activity
            android:name=".view.SettingsActivity"
            android:label="@string/action_settings"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".view.chat.ChatMainActivity"
            android:label="@string/lable_chat"
            android:launchMode="singleTask" />

        <activity
            android:name=".view.skill.SkillDetailsActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.auth.AuthSeletorActivity"
            android:theme="@style/AppThemeWhite">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.auth.AuthSettingInfoActivity" />
        <activity
            android:name=".view.WebLauncher"
            android:exported="true"
            android:label="@string/title_activity_web_launcher">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.ketie.me"
                    android:path="/launcher/yodian"
                    android:scheme="yodian" />
            </intent-filter>
        </activity>
        <activity android:name="me.iwf.photopicker.PhotoPickerActivity" />

        <service android:name=".service.ChatServiceLoginService" />

        <activity
            android:name=".view.deal.PayListActivity"
            android:label=""
            android:theme="@style/paylistactivity" />
        <activity
            android:name=".view.deal.PayWrapperActivity"
            android:label=""
            android:theme="@style/PayWrapperActivity" />
        <activity
            android:name=".view.deal.OrderListActivity"
            android:label="@string/order_list_btn_ordered" />
        <activity
            android:name=".view.deal.OrderDetailActivity"
            android:label="@string/order_detail_title" />
        <activity
            android:name=".view.deal.VouchApplyActivity"
            android:label="@string/apply_title" />
        <activity
            android:name=".view.deal.VouchDetailActivity"
            android:label="@string/apply_title" />
        <activity
            android:name=".view.deal.RemainderMainActivity"
            android:label="@string/my_remainder"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".view.deal.RemainderInfoActivity"
            android:label="@string/my_remainder"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".view.deal.WDListHistoryActivity"
            android:label="@string/withdraw_lb"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".view.deal.BindBankActivity"
            android:label="@string/activity_bind_bank"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".view.deal.BindBankCompliteActivity"
            android:label="@string/activity_bind_bank"
            android:theme="@style/AppTheme.Dark" />

        <activity
            android:name=".view.PreviewActivity"
            android:label=""
            android:theme="@style/NoAnimTheme" />
        <!--umeng push start-->
        <activity android:name="com.umeng.fb.ConversationActivity" />

        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false"
            android:process=":push" />
        <receiver
            android:name="com.umeng.message.SystemReceiver"
            android:process=":push">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.MessageReceiver"
            android:process=":push">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.ElectionReceiver"
            android:process=":push">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_RESULT_V4" />
                <category android:name="umeng" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.RegistrationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="maimeng.yodian.app.client.android.intent.action.COMMAND" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.UmengMessageBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.umeng.message.UmengService"
            android:exported="true"
            android:label="PushService"
            android:process=":push">
            <intent-filter>
                <action android:name="maimeng.yodian.app.client.android.intent.action.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="maimeng.yodian.app.client.android.intent.action.COCKROACH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING_V4" />
                <category android:name="umeng" />
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.message.UmengIntentService"
            android:process=":push" />
        <service
            android:name="com.umeng.message.UmengMessageIntentReceiverService"
            android:exported="true"
            android:process=":push">
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.android.agoo.client.ElectionReceiverService" />
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.message.UmengMessageCallbackHandlerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.umeng.messge.registercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.unregistercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.handler.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.autoupdate.handler.action" />
            </intent-filter>
        </service>
        <!-- V1.3.0添加的service，负责下载通知的资源 -->
        <service android:name="com.umeng.message.UmengDownloadResourceService" />
        <!--<service android:name=".service.UmengPushMessageService" />-->
        <!--umeng push end-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1104669989" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"

            android:exported="true" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true">

        </activity>

        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="adjustResize" />
        <!---->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="55a3c89567e58e19e2003146" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="96b2203b2eb5a412f4173a170de0afc9" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <!--chat-->
        <!-- 显示下载大图页面 -->
        <activity
            android:name=".chat.activity.ShowBigImage"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!-- 下载文件 -->
        <activity
            android:name=".chat.activity.ShowNormalFileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!-- 自定义的contextmenu -->
        <activity
            android:name=".chat.activity.ContextMenu"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" />
        <!-- 自定义的alertdialog -->
        <activity
            android:name=".chat.activity.AlertDialog"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" />
    </application>
</manifest>
